extends layout

block content
  h1= title
  p Welcome to #{title}

  p This is a quick node app I've put together for ease and speedy development, below are some the listed features included.

  br
  p
    h2= "Features"
  
  ul
    li 
      b= "Express"
    li 
      b= "Bcrypt and JWT Tokenization"
    li
      b= "Uses MongoDB database Integration"
    li 
      b= "TDD using Mocha, Chai and request"
    li
      b= "Mailing using nodemailer"
    li
      b= "Extra security using helmet"
    li
      b= "File upload using formidable"
